@model PropertyViewModel
@{
    ViewData["Title"] = "Edit";

}

<h1>Edit @Model.Name</h1>


<div class="container">
    <form asp-action="Edit" method="post" class="form-control" enctype="multipart/form-data">
        <input hidden asp-for="Id" />
        <partial name="_EditCreatePartial" model="Model" />
        <br />
        <button asp-action="Edit" type="submit" class="btn btn-outline-primary">Edit</button>
        <a asp-action="Index" class="btn btn-outline-danger">Back To List</a>
    </form>
</div>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}

